<div class="app-body">
  <app-header></app-header>

  <div class="container-md my-3 app-container">
    <hr class="mb-2 mt-0" />
    <h1
      class="app-title text-center font-weight-bolder d-flex justify-content-center align-items-center mb-0"
    >
      <span>NODE CRUD APPLICATION</span>
      <span class="badge bg-secondary ms-3">BY BKR</span>
    </h1>
    <hr class="mt-2" />

    <h3 class="text-center">{{ getCurrentPageTitle() }}</h3>
    <hr class="mx-auto mt-0 mb-4" style="width: 15%" />

    <router-outlet></router-outlet>
  </div>

  <app-footer></app-footer>
</div>
